.payment-container{
  display: flex;
  flex-direction: column;
  padding: 6px;
  background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 16px 0 0 0;
  gap: 16px;
  flex-wrap: nowrap;
}
.card-number-label{
  display: flex;
}
.card-number{
  display: flex;
  flex-direction: column;
}
.main {
  margin: 0 auto;
}
.title{
  font-weight: bold;

}
.app-container{
    height: 100dvh;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
}

.container{
  height: 0px;
  height: 80%;
}